.custom-header {
  padding-top: 30px;
  margin-bottom: 20px;

  .info {
    text-align: end;

    button {
      background-color: #dce4ec;
      border-color: #dce4ec;
      color: #7f8c8d;

      &:hover {
        background-color: #C2D0DE;
      }
    }
  }
}

.mr-5px {
  margin-right: 5px;
}

.logout {
  text-align: end;
}