.wallet-container {
  padding: 10px 10px 10px 15px;
  background: #2980b9;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;

  h2 {
    margin: 0;
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    line-height: 28px;
  }
}

.section-container {
  padding: 20px;
}
.break-work{
  word-break: break-word;
}